.input-gray {
    background-color: #e0e0e0 !important; // gris claro
    color: #000;
    font-size: 135%;
}


.button-color{
    background-color: #D1D5FF; // por ejemplo, un azul-violeta
  color: #000;
  border: none;

  &:hover {
    background-color: #8691ce; // color más oscuro al pasar el mouse
  }
}